.bg_fpage{
    background:#0D1215;
    /* padding:60px 80px; */
    padding:60px 0px;
    min-height:100vh;
}

.info_cont{
    float:right;
    justify-content: end;
    padding:0 100px 40px 80px !important;
    background:transparent;
    margin-bottom:100px !important;
 

}
.p_l_r{
    padding:0 80px !important;
}
.BsSeacrh {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    /* color:orange; */
    color:white;
    z-index: 9;
}

.form-group {
    position: relative;
    border-top:0px;
    border-left: 0px;
    border-right:0px;
 
    
}
.input_search_bar{
    background-color :#0D1215 !important;
    border-top: 0px !important;;
    border-left: 0px !important;
    border-right:0px !important;
    border:0px !important;
    border-radius:0px !important;
    color:white !important;
    border-bottom:2px solid !important;
    padding-left:100px;
 
    border-style: dotted !important;
}
.input_search_bar:focus {
    color:white;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none !important;
}
.martop_for_ser_bar{
    margin-top:80px;
}
.form_cont{
    width:60%;
    margin:10px auto 0px auto;
    background:transparent;
}
.btn-outline-light{
    border-radius:0px !important;
    padding:5px 20px !important;
    font-size:14px !important;
    letter-spacing: 1.2px;
}
.border_blue{
    border:2px solid red;
}
.sort_txt{
    font-size: 13px;
    word-spacing: 5px;
}

.sort_txt span{
    opacity:.4;
}
/* .img1{
 
  margin-top:200px;
} */
.border_botto_for_cont_fluid{
    border-bottom:1px solid #303030;

}
.img5{
    margin-top:50px;
}
.form_file_upload{
    display:flex;
}
.pb_3r{
    padding-bottom:3rem !important;
}
.info_cont p{
    cursor: pointer;
}
.card{
    display:block !important;
}
.card-body {
    flex: 1 1 auto;
    padding:0px !important;
}
.marg_top_for_F_IMG{
    margin-top:100px;
}

@media (max-width:768px){
    .info_cont {
        padding: 0 10px !important;
        margin-bottom:-50px !important;
    }
    .form_cont {
        width: 90%;
        margin: 0 auto;
    }
    .p_l_r {
        padding: 0 10px !important;
    }
    .img5 {
        margin-top: 0px;
    }
    .form_file_upload{
        display:flex;
        flex-wrap: wrap;
    }
    .BsSeacrh {
        position: absolute;
        top: 49%;
        left: 0px;
        transform: translateY(-50%);
        /* color: orange; */
        color: white;
    }
    .form-control {
      
        padding-left: 44px;
    
    }
    /* .btn-outline-light {
       
        margin: 13px auto;
      
    } */
}

@media (min-width:1400px){
    .img1 {
        margin-top: 200px;
    }
}